/* CSS low priority to high */
/* tag */

p{
    color: blue;
    font-size: 40px;
}
/* class */
.parrafo{
    color: yellow;
}
/* ID */
#texto{
    font-size: 200px;
    color: red;
}
